accelerate==1.10.1
transformers==4.55.0
deepspeed
wandb
webdataset
bert_score
av
decord
hf_transfer
huggingface_hub
openai
tenacity
sqlitedict
evaluate
sacrebleu
datasets
loguru
pytablewriter
pillow==10.4.0
requests==2.32.5
pyyaml
packaging
numpy
tokenizers
safetensors
tqdm
einops
peft
matplotlib
pandas
scipy
scikit-image
librosa
moviepy
easydict
dill
jinja2
pycocotools
pycocoevalcap
qwen-vl-utils
ipykernel
jupyterlab
